{% extends 'base.html' %}
{% block content %}
{% load static %}
<h2 class="mb-4">Our Products</h2>

<div class="row">

    {% for product in products %}
    <div class="card-ui h-100 d-flex flex-column">

    <!-- IMAGE -->
    <div class="text-center mb-3">
    <img src="{% static product.image %}"
         style="height:180px; width:100%; object-fit:cover; border-radius:12px;">
</div>

    <!-- CONTENT -->
    <div class="flex-grow-1 text-center">

        <h6>
            <a href="{% url 'product_detail' product.id %}"
               class="text-dark text-decoration-none">
                {{ product.name }}
            </a>
        </h6>

        <p class="text-muted-soft">
            {{ product.price }} SAR
        </p>

    </div>

    <!-- BUTTON -->
    <div class="d-grid">
        <a href="{% url 'add_to_cart' product.id %}"
           class="btn-soft btn-primary-soft">
            Add to Cart
        </a>
    </div>

</div>
    {% endfor %}

</div>

{% endblock %}
